-- MySQL dump 10.13  Distrib 9.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: exhio_wiki_api
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `flyway_schema_history`
--

DROP TABLE IF EXISTS `flyway_schema_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flyway_schema_history` (
  `installed_rank` int NOT NULL,
  `version` varchar(50) DEFAULT NULL,
  `description` varchar(200) NOT NULL,
  `type` varchar(20) NOT NULL,
  `script` varchar(1000) NOT NULL,
  `checksum` int DEFAULT NULL,
  `installed_by` varchar(100) NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `execution_time` int NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flyway_schema_history`
--

LOCK TABLES `flyway_schema_history` WRITE;
/*!40000 ALTER TABLE `flyway_schema_history` DISABLE KEYS */;
INSERT INTO `flyway_schema_history` VALUES (1,'1','create-monsters-table','SQL','V1__create-monsters-table.sql',-721371532,'root','2025-09-02 03:38:53',104,1),(2,'2','create-hunts-table','SQL','V2__create-hunts-table.sql',313085422,'root','2025-09-02 03:38:53',157,1),(3,'3','create-vocations-table','SQL','V3__create-vocations-table.sql',451257754,'root','2025-09-02 03:38:54',216,1);
/*!40000 ALTER TABLE `flyway_schema_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hunt_monster`
--

DROP TABLE IF EXISTS `hunt_monster`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hunt_monster` (
  `hunt_id` bigint NOT NULL,
  `monster_id` bigint NOT NULL,
  PRIMARY KEY (`hunt_id`,`monster_id`),
  KEY `monster_id` (`monster_id`),
  CONSTRAINT `hunt_monster_ibfk_1` FOREIGN KEY (`hunt_id`) REFERENCES `hunts` (`id`),
  CONSTRAINT `hunt_monster_ibfk_2` FOREIGN KEY (`monster_id`) REFERENCES `monsters` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hunt_monster`
--

LOCK TABLES `hunt_monster` WRITE;
/*!40000 ALTER TABLE `hunt_monster` DISABLE KEYS */;
/*!40000 ALTER TABLE `hunt_monster` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hunts`
--

DROP TABLE IF EXISTS `hunts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hunts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` text NOT NULL,
  `recommended_level` varchar(10) NOT NULL,
  `description` text NOT NULL,
  `video_url` text,
  `premium` tinyint NOT NULL,
  `deleted` tinyint DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hunts`
--

LOCK TABLES `hunts` WRITE;
/*!40000 ALTER TABLE `hunts` DISABLE KEYS */;
INSERT INTO `hunts` VALUES (1,'Colina de H├║mus','35+','Hunt localizada ao noroeste de Kalameth, onde habitam v├írios drag├Áes poderosos. Hunt boa para itens de n├¡vel baixo e mediano, tamb├®m boa para coletar algumas pedras preciosas.',NULL,1,0);
/*!40000 ALTER TABLE `hunts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monsters`
--

DROP TABLE IF EXISTS `monsters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `monsters` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `level` bigint NOT NULL,
  `name` varchar(255) NOT NULL,
  `experience` bigint NOT NULL,
  `physical` bigint NOT NULL,
  `fire` bigint NOT NULL,
  `energy` bigint NOT NULL,
  `ice` bigint NOT NULL,
  `poison` bigint NOT NULL,
  `death` bigint NOT NULL,
  `holy` bigint NOT NULL,
  `deleted` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=732 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monsters`
--

LOCK TABLES `monsters` WRITE;
/*!40000 ALTER TABLE `monsters` DISABLE KEYS */;
/*!40000 ALTER TABLE `monsters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vocation_hunt`
--

DROP TABLE IF EXISTS `vocation_hunt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vocation_hunt` (
  `vocation_id` bigint NOT NULL,
  `hunt_id` bigint NOT NULL,
  PRIMARY KEY (`vocation_id`,`hunt_id`),
  KEY `hunt_id` (`hunt_id`),
  CONSTRAINT `vocation_hunt_ibfk_1` FOREIGN KEY (`vocation_id`) REFERENCES `vocations` (`id`),
  CONSTRAINT `vocation_hunt_ibfk_2` FOREIGN KEY (`hunt_id`) REFERENCES `hunts` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vocation_hunt`
--

LOCK TABLES `vocation_hunt` WRITE;
/*!40000 ALTER TABLE `vocation_hunt` DISABLE KEYS */;
INSERT INTO `vocation_hunt` VALUES (1,1);
/*!40000 ALTER TABLE `vocation_hunt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vocations`
--

DROP TABLE IF EXISTS `vocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vocations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `simplicity` decimal(8,2) NOT NULL,
  `area_damage` decimal(8,2) NOT NULL,
  `single_damage` decimal(8,2) NOT NULL,
  `mobility` decimal(8,2) NOT NULL,
  `survivability` decimal(8,2) NOT NULL,
  `resistance` decimal(8,2) NOT NULL,
  `control` decimal(8,2) NOT NULL,
  `spells` decimal(8,2) NOT NULL,
  `support` decimal(8,2) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vocations`
--

LOCK TABLES `vocations` WRITE;
/*!40000 ALTER TABLE `vocations` DISABLE KEYS */;
INSERT INTO `vocations` VALUES (1,'M├¡stico','├ë a melhor classe!',5.00,5.00,6.00,10.00,8.00,4.00,10.00,7.00,10.00);
/*!40000 ALTER TABLE `vocations` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-02 17:39:11
